* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#top {
  display: flex;
  color: #074017;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.25rem;
  background-color: #83d5f6;
  font-size: 30px;
  a {
    color: #074017;
  }
}

main {
  display: grid;
  text-align: center;
  column-gap: 5ch;
}

h2 {
  background-color: aqua;
}

#content {
  max-width: 50ch;
  margin: 0 auto;
  padding: 1.5ch;
}

article {
  grid-column: 1;
}

#cook {
  width: 40ch;
  height: auto;
}

img {
  width: 30ch;
}

input {
  margin-top: 0.5ch;
  border: 0.25ch solid black;
  border-radius: 0 1ch 1ch 0;
}

form {
  display: grid;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1ch;
}

label {
  text-align: left;
  grid-column: 1;
  margin-top: 0.5ch;
}

footer {
  background-color: #83d5f6;
  justify-content: center;
  align-items: center;
  text-align: center;
}
